@import url("https://fonts.googleapis.com/css?family=Montserrat");
:root {
    --darkest-blue: #1a237e;
    --darker-blue: #283593;
    --dark-blue: #303f9f;
    --medium-blue: #3949ab;
    --light-blue: #3f51b5;
    --lighter-blue: #5c6bc0;
    --lightest-blue: #9fa8da;
    --white: #ffffff;
    --black: #0e1442;
    --orange: #ffb300;
    --yellow: #fdd835;
    --dark-pink: #ad1457;
    --light-pink: #d81b60;
}

* {
    outline: none;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    background: var(--white);
    cursor: default;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--white);
    display: block;
    transition-duration: 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    color: var(--orange);
    margin: 10px 0;
    text-transform: lowercase;
    font-size: 1.25em;
}

.resume {
    width: 960px;
    background: var(--darkest-blue);
    color: var(--white);
    margin: 20px auto;
    box-shadow: 10px 10px var(--black);
    display: flex;
    flex-wrap: wrap;
}

.resume .base {
    width: 30%;
    padding: 30px 15px;
    background: var(--darker-blue);
}

.resume .base .profile {
    background: var(--orange);
    padding: 30px 15px 40px 15px;
    position: relative;
    margin-bottom: 45px;
}

.resume .base .profile::after {
    content: "";
    position: absolute;
    background: var(--dark-blue);
    width: 100%;
    height: 30px;
    bottom: -15px;
    left: 0;
    transform: skewY(-5deg);
}

.resume .base .profile .photo img {
    width: 100%;
    border-radius: 50%;
}

.resume .base .profile .info {
    text-align: center;
    color: var(--white);
}

.resume .base .profile .info .name {
    margin-top: 10px;
    font-size: 1.75em;
    text-transform: lowercase;
    color: var(--darkest-blue);
}

.resume .base .profile .info .job {
    margin-top: 10px;
    font-size: 1.5em;
    text-transform: lowercase;
    color: var(--darker-blue);
}

.resume .base .contact div {
    line-height: 24px;
}

.resume .base .contact div a:hover {
    color: var(--yellow);
}

.resume .base .contact div i {
    color: var(--orange);
    font-size: 20px;
    margin-right: 15px;
}

.resume .func {
    width: 70%;
    padding: 30px;
}

.resume .func h3 i {
    color: var(--darker-blue);
    background: var(--orange);
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    margin-right: 8px;
    transition-duration: 0.3s;
}

.resume .func .skills-prog ul li .skills-bar .bar {
    background: var(--orange);
}

.resume .func .skills-soft ul li:hover svg .cbar {
    stroke: var(--yellow);
    stroke-width: 4px;
}

.resume .func .interests-items div:hover i {
    transform: scale(1.2);
    transition-duration: 0.3s;
}